html {
    background-image: url("imagens/emojis/background.png");
    background-size: 100%;
    background-position: 0 240px;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
display: flex;
}

main {
    display: flex;
    flex: 1 0 auto;
    height: 62vh;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cabeça {
    display: flex;
    flex-direction: column;
}

.imagens img {
    width: 300px;
}

h1 {
    font-size: 9em;
    margin: 0;
}

h4 {
    font-size: 2.5em;
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid #000;
    margin: 10px;
    clear: both;
}

.atividades {
    color: rgb(6, 4, 20);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.atividades div {
    margin: 10px;
    border: 3px solid #000;
    padding: 5px;
    background-color: #fff;
    min-height: min-content;
    max-height: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    display: flex;
    width: 100%;
    padding: 5px 0;
    bottom: 0;
    text-align: left;
    font-size: 0.8em;
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
    flex-shrink: 0;
}

footer div {
    display: flex;
    justify-content: center;
    
}

.loud {
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(63,205,55);
    background-color: rgb(21,21,21);
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.loud:hover {
    width: 330px;
}

.voltar {
    margin: 5px;
    margin-top: -41px;
    padding: 5px;
    border: #000 2px solid;
}

.revisoes {
    color: rgb(6, 4, 20);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border: 3px solid #000;
    padding: 5px;
    background-color: #fff;
    min-height: min-content;
    max-height: 200px;
}

.revisoes div {
    display: flex;
    flex-direction: row;
}

.revisoes div ul {
    margin: 0 10px 0 10px;
}