* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

figure {
    width: 100%;
    display: flex;
    align-items: center;
}

figure img {
    width: 100%;
    margin: 0 0 40px 0;
    object-fit: cover;
}

h2 {
    margin: 10px 0;
}

p {
    margin: 0 10px;
}

a {
    position: relative;
    left: 30%;
    margin: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: 2px solid #888;
    width: 70%;
    margin: 10px;
    /* padding: 10px; */
}

@media screen and (max-width: 539px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 70%;
        min-width: 300px;
        height: 500px;
    }

    figure {
        display: block;
    }

    figure img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 540px) and (max-width: 991px) {
    .card {
        flex-direction: row;
        width: 90%;
        min-width: 530px;
    }

    figure {
        height: 100%;
    }

    figure img {
        margin: 0;
        height: 100%;
        min-width: 266px;
    }

    .text {
        margin-left: 5px;
    }
}

@media screen and (min-width: 992px) {
    .card {
        min-width: 900px;
        max-width: 1000px;
    }

    figure {
        width: 400px;
        height:100%;
        margin: 0;
    }

    figure img {
        margin: 0;
        max-width: 400px;
        height: 100%;
    }

    .text p{
        max-width: 590px;
    }
}